.book-carousel {
  .jcarousel-container {
    .jcarousel-prev, .jcarousel-next {
      top: 135px;
      height: 52px;
      width: 18px;
    }
  } 
  .book-carousel-title {
    min-height: 50px;
    * {
      text-align: center;
    }
  }
}
