.book-grid {
  height: 100%;
  .book-grid-header {
    // &:extend(.box-shadow);
    border-bottom: 4px solid @beaver-orange;
    text-align: end;
    padding-right: 5px;
    margin-right: 30px;
  }
  .view-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .book-grid-row {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 180px;
      padding: 2px;
      .title {
        min-height: 60px;
        text-align: center;
        max-width: 90%;
        a {
          text-align: center;
        }
      }
      .image {
        img {
          height: 180px;
          width: auto;
        }
      }
    }
  }
}
@media screen and (max-width: 1100px) {
  .book-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    .book-grid-header {
      text-align: center;
    }
  }
}
