@media screen and (max-width: 1650px) {
  .book-display-books {
    .flex-grid-child {
      flex-basis: 20%;
    }
  }
}

@media screen and (max-width: 1200px) {
  .book-display-books {
    .flex-grid-child {
      flex-basis: 30%;
    }
  }
}

@media screen and (max-width: 550px) {
  .book-display-books {
    .flex-grid-child {
      flex-basis: 40%;
    }
  }
}