
.blog-teaser {
  display: flex;
  flex-direction: column;
  background: @bucktooth-white;
  .view-header {
    margin-right: 40px;
  }
  .view-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .blog-teaser-row {
      min-width: 400px;
      display: flex;
      flex-direction: column;
      padding: 10px 15px;
    }
    .views-row-1 {
      flex-basis: 40%;
    }
    .views-row-2, .views-row-3 {
      flex-basis: 25%;
    }
  }
}