.season-view-book {
  width: 375px;
  .right {
    padding: 5px 10px;
    .book-title {
      word-wrap: normal;
    }
  }
  .left {
    min-width: 150px;
  }
}

.node-type-press-book {
  #page-header {
    display: none;
  }
}