.pine {
	.author-node {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		.author-text-span {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		.author-image-span {
			align-items: center;
			display: flex;
			justify-content: center;
			max-height: 60vh;
			img#author-image {
				height: 40vh;
				object-fit: contain;
				width: 40vh;
			}
		}
	}
}