.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  input.search-input {
    line-height: 40px;
    border: 1px solid lightgrey;
    font-size: 24px;
    width: 400px;
    padding-left: 10px;
    border-radius: 6px 2px 2px 6px;
    height: 40px;
  }
  .search-button {
    line-height: 40px;
    border-radius: 2px 6px 6px 2px;
    padding: 4px 50px;
    background-color: @beaver-orange;
    color: white;
    .icon-search {
      vertical-align: baseline;
    }
  }
}
