/* theme option */
/* changed from 60 */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 32px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Stratum2Web';
  src: url('fonts/Stratum2WebBold.woff2') format('woff2'), url('fonts/Stratum2WebBold.woff') format('woff');
}
@font-face {
  font-family: 'Rufina-Italic';
  src: url('fonts/rufina-italic.woff2') format('woff2'), url('fonts/rufina-italic.woff') format('woff');
}
.pine {
  font-size: 18px;
  background-color: transparent;
  height: 100%;
  /* HORIZONTAL MAIN MENU  ****************************************************/
  /* AUDIENCE MENU *********************************************/
  /* Active hover gets white background */
  /* List chevron bullets are blue */
  /*** New top hat ***/
  /********************** MODULE OVERRIDES *******************/
  /**** Alerts ***/
  /**** Buttons / Button links ***/
  /**** Badges & Labels ***/
  /**** Thumbnails ***/
  /**** Wells ***/
}
.pine body {
  font-family: 'Open sans', sans-serif;
  background-image: none;
  background-color: #fff;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  font-size: 18px;
  line-height: 1.6;
}
.pine a {
  color: #006A8E;
}
.pine h1 {
  font-family: 'Open sans', sans-serif;
  font-size: 1rem;
  line-height: 1.4rem;
  color: #fff;
  background-color: #000;
  margin: 0;
  padding: 10px 20px;
  width: 100%;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pine h1 a {
  color: #fff;
  font-weight: 900;
  font-size: 1.2rem;
}
.pine h2,
.pine #page-title {
  font-family: 'Stratum2Web', sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: #dc4405;
}
.pine h3,
.pine #block-views-feature-story-block .view-feature-story .views-field-field-caption .fs-title a,
.pine #block-views-feature-story-block .view-feature-story .views-field-field-caption .fs-title {
  font-family: 'Stratum2Web', sans-serif;
  font-size: 1.5rem;
  line-height: 1.6rem;
  font-weight: 500;
  color: #dc4405;
}
.pine h3 a,
.pine #block-views-feature-story-block .view-feature-story .views-field-field-caption .fs-title a a,
.pine #block-views-feature-story-block .view-feature-story .views-field-field-caption .fs-title a {
  color: #dc4405;
}
.pine h4 {
  font-family: 'Open sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}
.pine h4 a {
  color: #000;
}
.pine h5,
.pine h6 {
  font-family: 'Open sans', sans-serif;
  font-size: 1.1rem;
  color: #dc4405;
  border-bottom: none;
}
.pine h5 a,
.pine h6 a {
  color: #dc4405;
  text-decoration: underline;
}
.pine h5 a:active,
.pine h6 a:active,
.pine h5 a:focus,
.pine h6 a:focus,
.pine h5 a:hover,
.pine h6 a:hover {
  text-decoration: none;
}
.pine h6 {
  color: #000;
}
.pine h6 a {
  color: #000;
}
.pine ul li,
.pine ol li {
  line-height: 1.4rem;
}
.pine #page-wrapper {
  flex: 1 0 auto;
}
.pine #footer {
  background: url(images/repeatable-treeline.png) #373737 repeat-x left bottom;
  border-color: #dc4405;
  min-height: 270px;
}
.pine table {
  border: 1px solid #e0e0e0;
}
.pine table caption {
  background: #000;
  color: #fff;
  font-weight: normal;
}
.pine table tr.odd,
.pine table tr:nth-child(2n+1) {
  background-color: #f0f0f0;
}
.pine table th {
  border: none;
  border-top: 1px solid #e0e0e0;
  line-height: 2em;
  background-color: #444;
  color: #fff;
  font-weight: normal;
}
.pine table tbody {
  background: transparent;
}
.pine table tbody tr + tr {
  border-top: 1px solid #e0e0e0;
}
.pine table th a,
.pine table caption a {
  color: #fff;
  text-decoration: underline;
}
.pine table th a:active,
.pine table caption a:active,
.pine table th a:focus,
.pine table caption a:focus,
.pine table th a:hover,
.pine table caption a:hover {
  text-decoration: none;
}
.pine #osu-top-hat + .group-header {
  overflow: hidden;
  background: #000;
  color: #fff;
  padding: 10px;
}
.pine #osu-top-hat + .group-header a {
  color: #fff;
  margin: 0;
  font-size: 1rem;
}
.pine #osu-top-hat + .group-header a.parent {
  font-size: 1rem;
  font-style: normal;
  font-family: 'Open sans', sans-serif;
  line-height: 16px;
  padding-right: 2px;
}
.pine #osu-top-hat + .group-header a.parent:active,
.pine #osu-top-hat + .group-header a.parent:focus,
.pine #osu-top-hat + .group-header a.parent:hover {
  text-decoration: underline;
}
.pine #osu-top-hat + .group-header h1 {
  display: inline;
  padding: 0;
}
.pine #osu-top-hat + .group-header h1 a {
  font-size: 1.2rem;
}
.pine .block > h2 {
  background-color: transparent;
  border-radius: 0;
  color: #dc4405;
  font-family: 'Open sans', sans-serif;
  font-size: 19px !important;
  font-weight: bold !important;
  line-height: 1.3rem;
  margin-bottom: 18px;
  padding: 0 10px 0 2px;
  border-bottom: 1px solid #e0e0e0;
  text-transform: uppercase;
}
.pine .block > h2 > a {
  color: #dc4405;
  text-decoration: none;
}
.pine .block.block-live-feeds > h2 {
  padding-right: 25px;
}
.pine blockquote {
  background: none;
  font-family: 'Rufina-Italic', serif;
  padding: 1em 4em;
  color: #666;
  line-height: 1.6;
  margin-left: 0;
  margin-bottom: 0;
}
.pine blockquote p {
  font-style: normal;
}
.pine .paragraphs-items .orange-bg-left .span6:first-child .field-item blockquote,
.pine .paragraphs-items .orange-bg-right .span6 + .span6 .field-item blockquote,
.pine .paragraphs-items .black-bg-left .span6:first-child .field-item blockquote,
.pine .paragraphs-items .black-bg-right .span6 + .span6 .field-item blockquote {
  color: #fff;
  padding: 1em 2.5em;
}
.pine div.horizontal-tabs {
  border: none;
  margin-top: 10px;
}
.pine div.horizontal-tabs ul.horizontal-tabs-list {
  border: none;
  border-bottom: 1px solid #e0e0e0;
}
.pine div.horizontal-tabs ul.horizontal-tabs-list li {
  border: none;
  padding: 0;
  position: relative;
  bottom: -1px;
}
.pine div.horizontal-tabs ul.horizontal-tabs-list li a {
  background: #f3f2ed;
}
.pine div.horizontal-tabs ul.horizontal-tabs-list li a:hover strong,
.pine div.horizontal-tabs ul.horizontal-tabs-list li a:active strong,
.pine div.horizontal-tabs ul.horizontal-tabs-list li a:focus strong {
  color: #000;
}
.pine div.horizontal-tabs ul.horizontal-tabs-list li.selected a {
  border: 1px solid #e0e0e0;
  border-bottom: 1px solid #fff;
  background: transparent;
}
.pine div.horizontal-tabs ul.horizontal-tabs-list strong {
  font-weight: normal;
}
.pine #main-menu .content {
  margin: 10px 0;
}
.pine #main-menu .nice-menu > li.first,
.pine #main-menu .menu li.first {
  margin-left: -16px;
}
.pine #main-menu .nice-menu {
  margin: 0;
  background: transparent;
  /* All parent level 2 and up get this arrow style */
  /* Level 2 */
  /* Level 3 */
  /* Level 4 */
}
.pine #main-menu .nice-menu li ul {
  margin: -9px 0 0;
  padding: 10px 0;
}
.pine #main-menu .nice-menu li li {
  margin-right: 0;
}
.pine #main-menu .nice-menu li a {
  border-radius: 0;
  background: transparent;
}
.pine #main-menu .nice-menu > li > ul {
  margin-top: 11px;
  margin-left: 2px;
  padding: 10px 0;
}
.pine #main-menu .nice-menu > li > a {
  font-size: 16px;
  text-transform: uppercase;
}
.pine #main-menu .nice-menu > li a {
  color: #fff;
}
.pine #main-menu .nice-menu > li a:hover,
.pine #main-menu .nice-menu > li a:active,
.pine #main-menu .nice-menu > li a:focus {
  background: rgba(0, 0, 0, 0.85);
  color: #fff;
}
.pine #main-menu .nice-menu > li.menuparent > a {
  background-image: none;
  padding-right: 16px;
  /* no arrows on first level */
}
.pine #main-menu .nice-menu > li.menuparent > a:hover,
.pine #main-menu .nice-menu > li.menuparent > a:active,
.pine #main-menu .nice-menu > li.menuparent > a:focus {
  background: rgba(0, 0, 0, 0.85);
  color: #fff;
}
.pine #main-menu .nice-menu > li .pine #main-menu .nice-menu > a:hover,
.pine #main-menu .nice-menu > li .pine #main-menu .nice-menu > a:active,
.pine #main-menu .nice-menu > li .pine #main-menu .nice-menu > a:focus {
  background: #666;
  color: #fff;
}
.pine #main-menu .nice-menu > li.menuparent:hover > a,
.pine #main-menu .nice-menu > li.over > a {
  background: rgba(0, 0, 0, 0.85);
  color: #fff;
}
.pine #main-menu .nice-menu li li.menuparent > a,
.pine #main-menu .nice-menu li li.menuparent > a:hover,
.pine #main-menu .nice-menu li li.menuparent > a:active,
.pine #main-menu .nice-menu li li.menuparent > a:focus {
  background: url("../../../images/h-menu-arrow-right-hover.png") 97% center no-repeat transparent;
}
.pine #main-menu .nice-menu li li a {
  padding-left: 15px;
}
.pine #main-menu .nice-menu li li li.over li a,
.pine #main-menu .nice-menu li.over li a,
.pine #main-menu .nice-menu li li.over li a {
  background-color: transparent;
}
.pine #main-menu .nice-menu ul {
  background-color: rgba(0, 0, 0, 0.85);
}
.pine #main-menu .nice-menu li.over li a:hover,
.pine #main-menu .nice-menu li.over li a:active,
.pine #main-menu .nice-menu li.over li a:focus,
.pine #main-menu .nice-menu li li.over > a {
  background-color: #666;
}
.pine #main-menu .nice-menu ul ul {
  background-color: rgba(0, 0, 0, 0.85);
}
.pine #main-menu .nice-menu li li.over li a:hover,
.pine #main-menu .nice-menu li li.over li a:active,
.pine #main-menu .nice-menu li li.over li a:focus,
.pine #main-menu .nice-menu li li li.over > a {
  background-color: #666;
}
.pine #main-menu .nice-menu ul ul ul {
  background-color: rgba(0, 0, 0, 0.85);
}
.pine #main-menu .nice-menu li li li.over li a:hover,
.pine #main-menu .nice-menu li li li.over li a:active,
.pine #main-menu .nice-menu li li li.over li a:focus,
.pine #main-menu .nice-menu li li li li.over > a {
  background-color: #666;
}
.pine #main-menu .menu,
.pine #main-menu .nice-menu {
  background-color: transparent;
}
.pine #main-menu .menu li,
.pine #main-menu .nice-menu > li {
  margin-top: 6px;
}
.pine #main-menu .menu li a,
.pine #main-menu .nice-menu > li > a {
  color: #252525;
  border: none;
  line-height: 16px;
  margin: 0 2px;
}
.pine #mobile-menu {
  font-size: 16px;
}
.pine #mobile-menu #mobile-osu-top-hat {
  display: none;
}
.pine #sidebar-first ul.menu li,
.pine #audience-menu ul.menu li {
  border-top: none;
}
.pine #sidebar-first ul.menu li.active-trail ul,
.pine #audience-menu ul.menu li.active-trail ul {
  background: #e0e0e0;
}
.pine #sidebar-first ul.menu li a,
.pine #audience-menu ul.menu li a {
  border-bottom: 1px solid #e0e0e0;
}
.pine #sidebar-first .content > ul.menu > li.last > a,
.pine #audience-menu .content > ul.menu > li.last > a {
  border-bottom: 0;
}
.pine #sidebar-first ul.menu li li.first a,
.pine #audience-menu ul.menu li li.first a {
  padding-top: 8px;
}
.pine a:active,
.pine #sidebar-left ul.menu a:active,
.pine #sidebar-right ul.menu a:active,
.pine #sidebar-left ul.menu a.active,
.pine #sidebar-right ul.menu a.active,
.pine #sidebar-first .content > ul.menu > li > a.active,
.pine #audience-menu .content > ul.menu > li > a.active,
.pine #sidebar-first .content > ul.menu > li > a.active:hover,
.pine #audience-menu .content > ul.menu > li > a.active:hover,
.pine #sidebar-first .content > ul.menu > li > a.active:active,
.pine #audience-menu .content > ul.menu > li > a.active:active,
.pine #sidebar-first .content > ul.menu > li > a.active:focus,
.pine #audience-menu .content > ul.menu > li > a.active:focus,
.pine #sidebar-first ul.menu li.active-trail > a.active,
.pine #audience-menu ul.menu li.active-trail > a.active,
.pine #sidebar-first ul.menu li.active-trail > a.active:hover,
.pine #audience-menu ul.menu li.active-trail > a.active:hover,
.pine #sidebar-first ul.menu li.active-trail > a.active:active,
.pine #audience-menu ul.menu li.active-trail > a.active:active,
.pine #sidebar-first ul.menu li.active-trail > a.active:focus,
.pine #audience-menu ul.menu li.active-trail > a.active:focus,
.pine #sidebar-first ul.menu li li > a.active,
.pine #audience-menu ul.menu li li > a.active {
  color: #fff;
  background: #000;
}
.pine #sidebar-first ul.menu li a:hover,
.pine #audience-menu ul.menu li a:hover,
.pine #sidebar-first ul.menu li a:active,
.pine #audience-menu ul.menu li a:active,
.pine #sidebar-first ul.menu li a:focus,
.pine #audience-menu ul.menu li a:focus {
  color: #000;
  background: #e0e0e0;
  text-decoration: underline;
}
.pine #sidebar-left ul.menu li.active-trail a:hover,
.pine #sidebar-right ul.menu li.active-trail a:hover {
  color: #dc4405;
  background: #fff;
}
.pine #sidebar-first ul.menu li li a,
.pine #audience-menu ul.menu li li a {
  padding-left: 18px;
}
.pine #sidebar-first ul.menu li li li a,
.pine #audience-menu ul.menu li li li a {
  padding-left: 30px;
}
.pine #sidebar-first ul.menu li li li li a,
.pine #audience-menu ul.menu li li li li a {
  padding-left: 38px;
}
.pine #sidebar-first ul.menu li li a::before,
.pine #audience-menu ul.menu li li a::before {
  color: inherit;
  content: "\f105";
  font-family: FontAwesome, Arial;
  padding-right: 5px;
}
.pine #osu-top-hat #osu-search-top-hat-form {
  margin-right: 20px;
  margin-top: 2em;
}
.pine #osu-top-hat.new {
  background: #dc4405;
  height: 100px;
}
.pine #osu-top-hat.new img {
  height: 80px;
  margin: 10px;
}
.pine #osu-top-hat.new #search-link {
  text-decoration: none;
  top: 35px;
}
.pine #osu-top-hat.new #search-link:active,
.pine #osu-top-hat.new #search-link:focus,
.pine #osu-top-hat.new #search-link:hover {
  background: none;
}
.pine #osu-top-hat.new a:active,
.pine #osu-top-hat.new a:focus,
.pine #osu-top-hat.new a:hover {
  background: none;
}
.pine #osu-top-hat.new .icon-search {
  color: #fff;
}
.pine #osu-top-hat.new .icon-search:hover,
.pine #osu-top-hat.new .icon-search:active,
.pine #osu-top-hat.new .icon-search:focus {
  color: #000;
}
.pine .live-feeds-block .rss-icon {
  background: transparent;
}
.pine .live-feeds-block .rss-icon .icon-rss {
  color: #dc4405;
}
.pine .live-feeds-block .news-item {
  line-height: 16px;
}
.pine .live-feeds-block .news-item .date {
  font-size: 16px;
  font-style: normal;
}
.pine .live-feeds-block .news-item h3.title a,
.pine .live-feeds-block .calendar-item .title a {
  font-family: 'Open sans', sans-serif;
  font-size: 16px;
  color: #000;
  text-decoration: underline;
  line-height: 18px;
}
.pine .live-feeds-block .news-item h3.title a:active,
.pine .live-feeds-block .calendar-item .title a:active,
.pine .live-feeds-block .news-item h3.title a:focus,
.pine .live-feeds-block .calendar-item .title a:focus,
.pine .live-feeds-block .news-item h3.title a:hover,
.pine .live-feeds-block .calendar-item .title a:hover {
  text-decoration: none;
}
.pine .live-feeds-block .news-item h3.title a strong,
.pine .live-feeds-block .calendar-item .title a strong {
  font-weight: normal;
}
.pine .live-feeds-block .news-item .news-body {
  font-size: 14px;
}
.pine .live-feeds-block .calendar-item .date.calendar .day {
  font-size: 1.7em;
  padding-top: 8px;
  padding-bottom: 6px;
}
.pine .live-feeds-block .calendar-item .date.calendar .month {
  font-size: 19px;
  font-weight: bold;
  line-height: 26px;
  background-color: #dc4405;
}
.pine .live-feeds-block .calendar-item .date.calendar .year {
  font-size: 1em;
}
.pine .view.view-feature-story.view-id-feature_story.view-display-id-page .fs-title a {
  text-decoration: underline;
  color: #dc4405;
}
.pine .view.view-feature-story.view-id-feature_story.view-display-id-page .fs-title a:active,
.pine .view.view-feature-story.view-id-feature_story.view-display-id-page .fs-title a:focus,
.pine .view.view-feature-story.view-id-feature_story.view-display-id-page .fs-title a:hover {
  text-decoration: none;
}
.pine a.carousel-control {
  color: #fff;
}
.pine .view-navigation-grid-display .views-field-field-rollover-text .field-content a strong {
  color: #fff;
}
.pine .view-navigation-grid-display .views-field-field-rollover-text .field-content a {
  font-size: 13px;
}
.pine .view-navigation-grid-display .views-field-field-rollover-text .field-content {
  border-color: #dc4405;
}
.pine .view-navigation-grid-display .views-field-field-nav-image img {
  box-shadow: none;
}
.pine #multimenus-menu li:hover,
.pine #multimenus-menu li.active {
  background-color: #dc4405;
}
.pine #block-views-featured-sites-block .jcarousel-container-horizontal {
  border-top: 1px solid #e0e0e0;
}
.pine #toolbar li.label {
  background-color: #202020;
}
.pine .alert {
  text-shadow: none;
  border: none;
  border-color: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #000;
  background-color: #fdd26e;
}
.pine .alert-error {
  background-color: #e69198;
}
.pine .alert-info {
  background-color: #c6dae7;
}
.pine .alert-success {
  background-color: #c4d6a4;
}
.pine .btn {
  font-size: 18px;
  line-height: 24px;
  background-image: none;
  background-color: #e6e6e6;
  filter: none;
  border-radius: 0;
  color: #000;
  border: 1px solid #fff;
  padding: .5em .8em;
  text-decoration: none;
  box-shadow: none;
  text-shadow: none;
}
.pine .btn:hover,
.pine .btn:active,
.pine .btn:focus {
  background-color: #e6e6e6;
  text-decoration: underline;
}
.pine .btn-mini {
  font-size: 13.5px;
}
.pine .btn-small {
  font-size: 15.6px;
}
.pine .btn-large {
  font-size: 22px;
}
.pine .btn.btn-primary,
.pine .paragraphs-items .orange-bg-left .span6:first-child .field-item a.btn.btn-primary,
.pine .paragraphs-items .orange-bg-right .span6 + .span6 .field-item a.btn.btn-primary,
.pine input.form-submit {
  background-color: #d73f09;
  color: #fff;
}
.pine .btn.btn-primary:hover,
.pine .paragraphs-items .orange-bg-left .span6:first-child .field-item a.btn.btn-primary:hover,
.pine .paragraphs-items .orange-bg-right .span6 + .span6 .field-item a.btn.btn-primary:hover,
.pine input.form-submit:hover,
.pine .btn.btn-primary:active,
.pine .paragraphs-items .orange-bg-left .span6:first-child .field-item a.btn.btn-primary:active,
.pine .paragraphs-items .orange-bg-right .span6 + .span6 .field-item a.btn.btn-primary:active,
.pine input.form-submit:active,
.pine .btn.btn-primary:focus,
.pine .paragraphs-items .orange-bg-left .span6:first-child .field-item a.btn.btn-primary:focus,
.pine .paragraphs-items .orange-bg-right .span6 + .span6 .field-item a.btn.btn-primary:focus,
.pine input.form-submit:focus {
  background-color: #d73f09;
  color: #fff;
}
.pine .btn.btn-secondary {
  background-color: #000;
  color: #fff;
}
.pine .btn.btn-secondary:hover,
.pine .btn.btn-secondary:active,
.pine .btn.btn-secondary:focus {
  background-color: #000;
  color: #fff;
}
.pine .btn.btn-danger {
  background-color: #af292e;
  color: #fff;
}
.pine .btn.btn-danger:hover,
.pine .btn.btn-danger:active,
.pine .btn.btn-danger:focus {
  background-color: #af292e;
  color: #fff;
}
.pine .btn.btn-warning {
  background-color: #ffb500;
  color: #000;
}
.pine .btn.btn-warning:hover,
.pine .btn.btn-warning:active,
.pine .btn.btn-warning:focus {
  background-color: #ffb500;
  color: #000;
}
.pine .btn.btn-info {
  background-color: #003b5c;
  color: #fff;
}
.pine .btn.btn-info:hover,
.pine .btn.btn-info:active,
.pine .btn.btn-info:focus {
  background-color: #003b5c;
  color: #fff;
}
.pine .btn.btn-success {
  background-color: #4a773c;
  color: #fff;
}
.pine .btn.btn-success:hover,
.pine .btn.btn-success:active,
.pine .btn.btn-success:focus {
  background-color: #4a773c;
  color: #fff;
}
.pine .btn.btn-link {
  background-color: transparent;
  color: #006A8E;
  cursor: pointer;
}
.pine .btn.btn-link:hover,
.pine .btn.btn-link:active,
.pine .btn.btn-link:focus {
  background-color: transparent;
  color: #252525;
}
.pine .badge,
.pine .label {
  text-shadow: none;
  background-color: #e6e6e6;
  color: #000;
}
.pine .badge.badge-success {
  background-color: #4a773c;
  color: #fff;
}
.pine .badge.badge-info {
  background-color: #0d5257;
  color: #fff;
}
.pine .badge.badge-warning {
  background-color: #ffb500;
}
.pine .badge.badge-important {
  background-color: #af292e;
  color: #fff;
}
.pine .badge.badge-inverse {
  background-color: #000;
  color: #fff;
}
.pine .label {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.pine .label.label-success {
  background-color: #4a773c;
  color: #fff;
}
.pine .label.label-info {
  background-color: #0d5257;
  color: #fff;
}
.pine .label.label-warning {
  background-color: #ffb500;
}
.pine .label.label-important {
  background-color: #af292e;
  color: #fff;
}
.pine .label.label-inverse {
  background-color: #000;
  color: #fff;
}
.pine .thumbnail {
  padding: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0;
}
.pine .thumbnail .caption {
  padding: 9px 15px;
}
.pine a.thumbnail:hover,
.pine a.thumbnail:active,
.pine a.thumbnail:focus {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-color: #dc4405;
}
.pine .well {
  border-radius: 0;
  background-color: #fff;
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.12);
}
.pine .well-large {
  border-radius: 0;
  background-color: #fff;
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.12);
}
.pine .well-small {
  border-radius: 0;
  background-color: #fff;
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.12);
}
